<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">

<head>
<meta charset="ISO-8859-1">
<title>Ajouter un Livre</title>
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="./resources/static/css/bootstrap.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<body>

 <div class="row bg-default d-flex justify-content-center">
	
		<div class="col-auto flex-grow-1 text-center bg-light "> 
			<ul class="nav navbar-nav border">
			<li><a th:href="@{/}">Acceuil</a></li>
			<li><a th:href="@{/adherent}">Adherent</a></li>
			<li><a th:href="@{/document/consulte}">Document</a></li>
			<li><a th:href="@{/emprunt}">Emprunt</a></li>
			</ul>
		</div>	
	
	</div>
	
<div class="container">

<div class="col-md-6">
	<div class="panel panel-primary">
			<div class="panel-heading">Recherche d'un Adherent</div>
			<div class="panel-body">
			<a th:href="@{/adherent/add}" class="btn btn-default">Ajouter un adherent</a>
				 <form method="get" th:action="@{/adherent/consulte}" >
				
						<label for="CIN">CIN</label>
						
						<input type="text" class="form-control" name="CIN"/>
						<button class="btn btn-primary" >OK</button>
				</form> 
				
			</div>
		</div>
	</div>
	

</div>
</body>
</html>