<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Ajouter un document</h1>
<h2><a href="/document" class="btn btn-default">Liste des document</a></h2>
<form method="post" th:action="@{/document/add}" th:object="${document}">
  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-6">
      <input type="text"  class="form-control" placeholder="title"   th:field="*{title}">
    </div>
  </div>
  <div class="form-group row">
    <label for="prix" class="col-sm-2 col-form-label">Prénom</label>
    <div class="col-sm-6">
      <input type="text"  class="form-control"  placeholder="prix" th:field="*{prix}">
    </div>
  </div>
 
  <button type="submit" class="btn btn-danger mb-2">Ajouter</button>
</form>

</body>
</html>